graphs {
  priority: 0

  engines {
	id: 472
	engine_name: "DataInputEngine"
	side: HOST
	thread_num: 1
	so_name: "./libHost.so"
	ai_config {

	  items {
		name: "path"
		value: "/home/HwHiAiUser/HIAI_DATANDMODELSET/workspace_mind_studio/test20_images/"
	  }

	  items {
		name: "target"
		value: "OI"
	  }
    }
  }

  engines {
	id: 537
	engine_name: "OpenPoseInferenceEngine"
	side: DEVICE
	thread_num: 1
	so_name: "./libDevice.so"
	ai_config {
	  items {
		name: "input_image_width"
		value: "384"
	  }

	  items {
		name: "input_image_height"
		value: "288"
	  }

	  items {
		name: "model_path"
		value: "/home/HwHiAiUser/HIAI_DATANDMODELSET/workspace_mind_studio/LitePose_20200111_v2_norm.om"
	  }

	  items {
		name: "passcode"
		value: ""
	  }
    }
  }

	engines {
    id: 5380
    engine_name: "ResizeEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    }

	engines {
    id: 5381
    engine_name: "ResizeEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    }

	engines {
    id: 5382
    engine_name: "ResizeEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    }

	engines {
    id: 5383
    engine_name: "ResizeEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    }
		

	engines {
    id: 539
    engine_name: "PostProcessEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    }

  engines {
	id: 487
	engine_name: "SaveFileEngine"
	side: HOST
	thread_num: 1
	so_name: "./libHost.so"
	ai_config {

	  items {
		name: "path"
		value: "/home/HwHiAiUser/HIAI_DATANDMODELSET/workspace_mind_studio/test20_images/"
	  }

	  items {
		name: "mode"
		value: "normal"
	  }
    }
  }

  engines {
	id: 461
	engine_name: "ImagePreProcessEngine"
	side: DEVICE
	thread_num: 1
	so_name: "./libDevice.so"
	ai_config {

	  items {
		name: "point_x"
		value: "-1"
	  }

	  items {
		name: "point_y"
		value: "-1"
	  }

	  items {
		name: "crop_width"
		value: "-1"
	  }

	  items {
		name: "crop_height"
		value: "-1"
	  }

	  items {
		name: "self_crop"
		value: "1"
	  }

	  items {
		name: "resize_width"
		value: "384"
	  }

	  items {
		name: "resize_height"
		value: "288"
	  }

	  items {
		name: "project_name"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "userHome"
		value: "/home/pass/tools"
	  }
    }
  }

	connects {
    src_engine_id: 472
    src_port_id: 0
    target_engine_id: 461
    target_port_id: 0
  }
	
  connects {
    src_engine_id: 461
    src_port_id: 0
    target_engine_id: 537
    target_port_id: 0
  }
# ====================================================resize connect===================================================================
	connects {
    src_engine_id: 537
    src_port_id: 0
    target_engine_id: 5380
    target_port_id: 0
  }

	connects {
    src_engine_id: 5380
    src_port_id: 0
    target_engine_id: 539
    target_port_id: 0
  }

	connects {
    src_engine_id: 537
    src_port_id: 1
    target_engine_id: 5381
    target_port_id: 0
  }

	connects {
    src_engine_id: 5381
    src_port_id: 0
    target_engine_id: 539
    target_port_id: 1
  }

	connects {
    src_engine_id: 537
    src_port_id: 2
    target_engine_id: 5382
    target_port_id: 0
  }

	connects {
    src_engine_id: 5382
    src_port_id: 0
    target_engine_id: 539
    target_port_id: 2
  }

	connects {
    src_engine_id: 537
    src_port_id: 3
    target_engine_id: 5383
    target_port_id: 0
  }

	connects {
    src_engine_id: 5383
    src_port_id: 0
    target_engine_id: 539
    target_port_id: 3
  }
# =======================================================================postprocess connect =======================================================
  connects {
    src_engine_id: 539
    src_port_id: 0
    target_engine_id: 487
    target_port_id: 0
  }

}			
